li {
  display: list-item;
}

#navbar li {
  border-top: 1px solid black;
  padding-top: 15px;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar {
  position: relative;
  border: 1px solid black;
  width: 30vw;
  display: block;
  color: black;
}

body {
  font-family: "Open Sans";
  display: block;
}

#main-doc {
  display: relative;
}

@media (max-width: 400px) {
  #navbar {
    width: 100%;
  }
}
